/* Space Game Styles */

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Safari, Chrome, Opera */
  -khtml-user-select: none;    /* Konqueror HTML */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Standard syntax */
}

body {
    background-color: #000;
    color: #0ff;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#game-container {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    margin-left: 24px;
}

.clickable-text {
    cursor: pointer;
    text-decoration: underline;
}
