

/* Panel UI Styles */
.panel {
    border: 2px solid #0ff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    background: rgba(0, 20, 30, 0.7);
    box-shadow: 0 0 10px #0ff;
    font-size: 1em;
    line-height: 1.4;
    min-width: 350px;
    position: relative;
}

.panel-close-button {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 32px;
    height: 32px;
    background-color: rgba(0,0,0,0.33);
    color: #0ff;
    border: 1px solid #0ff;
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    font-family: "Google Sans Code", monospace;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    padding: 0;
    line-height: 1;
}

.panel-close-button:hover {
    background: #00ffff22;
    border: 1px solid #0ff;
    box-shadow: 0 0 6px #0ff;
}


.panel-title {
    font-size: 1em;
    font-weight: bold;
    background-color: #0ff;
    color: black;
    margin-bottom: 10px;
}

.panel-content {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 80vh;
}


/*.panel-buttons {
}*/
