
.ui-table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

.ui-table-row {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.ui-table-cell {
    padding: 8px 8px;
    border: 1px solid #444;
}

.ui-table-row:hover {
    background-color: #1c3333;
}

.ui-table-row:active {
    background-color: #1c1c1c;
}

.ui-table-row.selected {
    background-color: #066 !important;
}